<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Zikula is niet geïnstalleerd!</title>
<style type="text/css">
a img { border: 0px;}
</style>
</head>
<body>
<h1>Zikula is niet geïnstalleerd!</h1>
<p style="font-size: 1.2em">Dit bericht wordt getoond omdat het Zikula Application Framework nog niet geïnstalleerd is. Het installatieproces kan gestart worden door het <a href="install.php">installatie script</a> uit te voeren. Lees echter vantevoren wel de <a href="docs/install_nl.html">installatie instructies</a> door. Meer informatie kan gevonden worden in de <a href="http://community.zikula.org/Wiki-UserDocs.htm">internationale online documentatie</a> of op de <a href="http://zikula.nl/Forum/main/viewcat/3">nederlandse forums</a>.</p>
<p>Zikula is gratis software, vrijgegeven onder de GNU/GPL licentie. Meer informatie kan gevonden worden op <a href="http://zikula.nl" title="Zikula NL Homepage">http://zikula.nl</a> of <a href="http://zikula.org" title="Zikula International Homepage">http://zikula.org</a>.</p>
<div style="text-align: center; margin-top: 20px">
<a href="http://zikula.org"><img src="images/powered/small/cms_zikula.png" alt="Proudly powered by Zikula" width="80" height="15" /></a>
<a href="http://adodb.sourceforge.net"><img src="images/powered/small/adodb_powered.png" alt="ADODB database library" width="80" height="15" /></a>
<a href="http://www.php.net"><img src="images/powered/small/php_powered.png" alt="PHP Language" width="80" height="15" /></a>
</div>
</body>
</html>
