<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="fr" xml:lang="fr">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf8" />
<title>Zikula n'est pas installé !</title>
<style type="text/css">
a img { border: 0px;}
</style>
</head>
<body>
<h1>Zikula n'est pas installé !</h1>

<p style="font-size: 1.2em">Si vous voyez ce message c'est que Zikula n'est pas encore installé. Vous pouvez installer Zikula en vous rendant sur la page du <a href="install.php">script d'installation</a>, mais avant de faire cela veuillez lire les <a href="docs/install_fr.html">instructions à propos de l'installation</a>.
De plus amples informations sont disponibles sur la <a href="http://communaute.zikula.fr/wiki">documentation en ligne</a>.</p>

<p>Zikula est un logiciel libre disponible sous licence GNU/GPL. Pour plus d'informations, visitez le site <a href="http://zikula.fr" title="Zikula France">
http://www.zikula.fr</a>.</p>
<div style="text-align: center; margin-top: 20px">
<a href="http://zikula.org"><img src="images/powered/small/cms_zikula.png" alt="Propulsé par Zikula" width="80" height="15" /></a>
<a href="http://adodb.sourceforge.net"><img src="images/powered/small/adodb_powered.png" alt="Librairie de base de données ADODB" width="80" height="15" /></a>
<a href="http://www.php.net"><img src="images/powered/small/php_powered.png" alt="Langage PHP" width="80" height="15" /></a>
</div>
</body>
</html>
