<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="fr" xml:lang="fr">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf8" />
<title>Impossible d'ouvrir une session</title>
<style type="text/css">
a img { border: 0px;}
p.larger {font-size: 1.2em;}
</style>
</head>
<body>
<h1>Impossible d'ouvrir une session</h1>

<p class="larger">Le site internet rencontre temporairement des problèmes techniques, rafraîchir la page peut solutionner le problème. Si le problème persiste, veuillez contacter l'administrateur du site.</p>
<p class="larger">Veuillez <em>ne pas contacter</em> la team de Zikula à propos de cette erreur étant que le problème est spécifique à ce site internet.
Bien qu'il soit propulsé par le système de gestion de contenu Zikula, il appartient et il est géré de façon totalement indépendante par l'administrateur de ce site internet.</p>

<p><strong>Si vous êtes l'administrateur du site...</strong><br/>
Zikula est incapable d'ouvrir une session. La raison pour laquelle ce problème c'est produit, c'est que les sessions ne peuvent être enregistrées dans la base de données ce qui résulte souvent d'un manque d'espace disque
ou d'une limitation de l'espace disque, ou encore que la table des sessions est corrompue. Exécuter une réparation sur la table des sessions pourrait résoudre le problème. Pour plus d'informations veuillez vous rendre sur
le site internet de Zikula France.</p>

<p>Zikula est un logiciel libre disponible sous licence GNU/GPL. Pour plus d'informations, visitez le site <a href="http://zikula.fr" title="Zikula France">
http://www.zikula.fr</a>.</p>
<div style="text-align: center; margin-top: 20px">
<a href="http://zikula.org"><img src="images/powered/small/cms_zikula.png" alt="Propulsé par Zikula" width="80" height="15" /></a>
<a href="http://adodb.sourceforge.net"><img src="images/powered/small/adodb_powered.png" alt="Librairie de base de données ADODB" width="80" height="15" /></a>
<a href="http://www.php.net"><img src="images/powered/small/php_powered.png" alt="Langage PHP" width="80" height="15" /></a>
</div>
</body>
</html>
